// app global css in Stylus form
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$avatar-profile = #B3B3B3

* {
  font-family: 'Poppins', sans-serif;
  user-select none
}


::-webkit-scrollbar
  width: 6px

/* Track */
::-webkit-scrollbar-track
  background: #d7d9db

/* Handle */
::-webkit-scrollbar-thumb
  background: rgba($primary, 0.4)
  border-radius 20px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background rgba($primary, 0.5)
